[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
pytest = "*"
httpx = "*"
selenium = "*"
openai = "*"
tiktoken = "*"
beautifulsoup4 = "*"
aiofiles = "*"
webdriver-manager = "*"
bcrypt = "*"
dnspython = "*"
email-validator = "*"
passlib = "*"
pyjwt = "*"
python-dotenv = "*"
toml = "*"
sqlalchemy = "*"
pydantic-settings = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
ipython = "*"
coverage = "==6.2"
pytest-asyncio = "*"
baldin = {path = ".", editable = true}
mypy = "*"
install = "*"
types-aiofiles = "*"
types-toml = "*"

[scripts]
test = "docker-compose exec web python -m pytest"
testv = "docker-compose exec web python -m pytest -vv"
psql = "docker-compose exec db psql -U postgres"
ipython = "docker-compose exec web ipython"
shell = "docker-compose exec web bash"
api = "uvicorn app.main:app --reload --host 0.0.0.0 --port 8004"

[requires]
python_version = "3.11.2"
