{% extends "base.html" %}
{% set active_page = "lead" %}

{% block title %}Lead Finder{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h1 class="cap">Lead Finder</h1>

<img class="responsive" src="https://source.lead.com/400x400/?flower" width="400" height="400">
<p>Source</p>

<img class="responsive" src="https://source.lead.com/collection/827743/400x400" width="400" height="400">
<p>Source</p>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}