
{% extends "base.html" %}
{% set active_page = "search" %}

{% block title %}Search{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h1 class="cap">Search</h1>

<h3>Employment Search</h3>
<form action="/search/form1" method="post">
    <input type="text" name="keywords" value="job keywords" required />
    <input type="text" name="location" value="location" required />
    <input type="text" name="platform" value="linkedin, glassdoor, or indeed" required />
    <input type="submit">
</form>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
